APP_NAME="instaPol"
APP_ENV=
APP_KEY=
APP_DEBUG=true
APP_URL=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_TIMEZONE=Asia/Kuala_Lumpur

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

INVISIBLE_RECAPTCHA_SITEKEY=
INVISIBLE_RECAPTCHA_SECRETKEY=
INVISIBLE_RECAPTCHA_BADGEHIDE=false
INVISIBLE_RECAPTCHA_DATABADGE='bottomleft'
INVISIBLE_RECAPTCHA_TIMEOUT=5
INVISIBLE_RECAPTCHA_DEBUG=false

MB_WIDGET_ID=

# Settlement Reports Receipient
EGHL_SETTLEMENT=
HOWDEN_INTERNAL=
HOWDEN_INTERNAL_CC=

# Frontend
CUSTOMER_SERVICE_NO=
CUSTOMER_SERVICE_EMAIL=
WHATSAPP_URL=
WHATSAPP_NO=
WHATSAPP_LINK=
AFFINITY_TEAM_EMAIL=
HOWDEN_IT_DEV_MAIL=
GA_TRACKING_ID=
GOOGLE_ANALYTICS_PROPERTY_ID=

# Micro-sites
MOTOR_EXTENDED_URL=
BICYCLE_URL=
TRAVEL_URL=
DOC_PRO_URL=

# Backend
HOWDEN_SHORT_CODE=
HOWDEN_NAME=

# Payment Gateway
EGHL_PAYMENT_URL=
EGHL_MERCHANT_NAME=
EGHL_MERCHANT_ID=
EGHL_MERCHANT_PASSWORD=
EGHL_FPX_MERCHANT_ID=
EGHL_FPX_MERCHANT_PASSWORD=

# Insurer APIs
# 1. BSIB
SOMPO_MOTOR_AGENT_CODE=
SOMPO_MOTOR_HOST=
SOMPO_MOTOR_CLIENT_ID=
SOMPO_MOTOR_SECRET_KEY=
SOMPO_MOTOR_AUTH_TOKEN=

# 2. Tune
# 3. AIG
AIG_MOTOR_API_URL
AIG_MOTOR_API_JPJ
AIG_MOTOR_API_AGENT_CODE
AIG_MOTOR_API_PASSWORD

# 4. Liberty
LIBERTY_MOTOR_API_DOMAIN=
LIBERTY_MOTOR_API_AGENT_CODE=
LIBERTY_MOTOR_API_PASSWORD=

# 5. Lonpac
# 6. RHB
# 7. Etiqa
ETIQA_HOST=
ETIQA_TOKEN_HOST=
ETIQA_CLIENT_ID=
ETIQA_CLIENT_SECRET=
ETIQA_GRANT_TYPE=
ETIQA_SCOPE=

# 8. AmGen
AMGEN_MOTOR_API_HOST
AMGEN_MOTOR_API_PORT
AMGEN_MOTOR_API_CLIENT_ID
AMGEN_MOTOR_API_CLIENT_SECRET
AMGEN_MOTOR_API_USERNAME
AMGEN_MOTOR_API_PASSWORD
AMGEN_MOTOR_API_JAVA
AMGEN_MOTOR_API_ENCRYPT_PASSWORD
AMGEN_MOTOR_API_ENCRYPT_SALT
AMGEN_MOTOR_API_ENCRYPT_IV
AMGEN_MOTOR_API_CHANNEL_TOKEN

# 9. Zurich
ZURICH_MOTOR_API_HOST_VIX
ZURICH_MOTOR_API_AGENT_CODE
ZURICH_MOTOR_API_SECRET_KEY
ZURICH_MOTOR_API_PARTICIPANT_CODE
ZURICH_TAKAFUL_MOTOR_API_HOST_VIX
ZURICH_TAKAFUL_MOTOR_API_AGENT_CODE
ZURICH_TAKAFUL_MOTOR_API_SECRET_KEY
ZURICH_TAKAFUL_MOTOR_API_PARTICIPANT_CODE

# 10. Allianz
ALLIANZ_MOTOR_API_HOST
ALLIANZ_MOTOR_API_URL_TOKEN
ALLIANZ_MOTOR_API_URL
ALLIANZ_MOTOR_API_USERNAME
ALLIANZ_MOTOR_API_PASSWORD

# 11. P&O
PNO_HOST="http://203.10.20.150:2020/"
PNO_AGENT_CODE="30817-24-C"
PNO_USER_ID="howden"
